@model PizzaCore.Models.ContactModel

@{
  ViewData["Title"] = "Success";
}

<h1>Success</h1>

<div>
  <h3>Thank you for contacting us @Model.FirstName @Model.LastName</h3>
  <hr />
  <p>We will get back to you shortly.</p>
</div>
