<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>@ViewData["Title"] - PizzaCore</title>
  <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link rel="stylesheet" href="~/css/theme.min.css" />
  <link rel="stylesheet" href="~/css/site.css" />
  @RenderSection("Styles", false)
</head>
<body>
  <header id="main-navbar">
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-primary border-bottom box-shadow mb-3">
      <div class="text-light" id="phone-info">
        Delivery&nbsp;in&nbsp;Montreal: <a href="tel:5144575036">(514)&nbsp;457-5036</a>
      </div>
      <div class="container">
        <p class="navbar-brand" id="nav-logo">
          <a href="@Url.Action("Index", "Home")">
            <img src="~/images/logo.png" alt="PizzaCore" />
          </a>
        </p>
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
          <ul class="navbar-nav flex-grow-1">
            <li class="nav-item">
              <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="About">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light" asp-area="" asp-controller="Contact" asp-action="Index">Contact&nbsp;Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light" asp-area="" asp-controller="Menu" asp-action="Index">Menu</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light" asp-area="" asp-controller="Careers" asp-action="Index">Careers</a>
            </li>
          </ul>
          <partial name="_LoginPartial" />
        </div>
      </div>
    </nav>
  </header>

  <div class="container">
    <main role="main" class="pb-3">
      @RenderBody()
    </main>
    <div class="spacer"></div>
  </div>

  <div id="checkout-warning">
    <div id="checkout-warning-options">
      <h2 class="text-light">You are currently not signed in!</h2>
      <h3 class="text-light">What would you like to do?</h3>
      <a class="checkout-warning-option sleek-button" href="/checkout">Continue as Guest</a>
      <button class="checkout-warning-option sleek-button" onclick="onCheckoutGuestCancel()">Go Back</button>
    </div>
  </div>

  <footer class="border-top footer text-muted">
    <section>
      <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
      <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="About">About</a>
      <a class="nav-link text-light" asp-area="" asp-controller="Contact" asp-action="Index">Contact Us</a>
      <a class="nav-link text-light" asp-area="" asp-controller="Careers" asp-action="Index">Careers</a>
      <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Covid">COVID-19</a>
    </section>
    <section>
      <a href="https://www.facebook.com/pizzahutcanada/" target="_blank" class="icon"><i class="fa fa-facebook"></i></a>
      <a href="https://play.google.com/store/apps/details?id=com.pizzahut.canada" target="_blank" class="icon"><i class="fa fa-google"></i></a>
      <a href="https://www.instagram.com/pizza__core/" target="_blank" class="icon"><i class="fa fa-instagram"></i></a>
      <a href="https://www.youtube.com/user/pizzahut" target="_blank" class="icon"><i class="fa fa-youtube"></i></a>
    </section>
    <div class="copyright">
      <p>Copyright © Abstract Connoisseurs 2021</p>
    </div>
  </footer>

  <script src="~/lib/jquery/dist/jquery.min.js"></script>
  <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="~/js/site.js" asp-append-version="true"></script>
  @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
