@model ErrorModel

@{
  ViewData["Title"] = "Error";
}

<div>
  <h1 class="text-danger">Error.</h1>
  <h2 class="text-danger">An error occurred while processing your request.</h2>
  <hr/>
  <!-- Custom error message -->
  @if (Model.ShowMessage) {
    <p>@Model.Message</p>
  }
  <!-- Request ID -->
  @if (Model.ShowRequestId) {
    <p>
      <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
  }
</div>


