@{ ViewData["Title"] = "About"; }

<h1 class="text-secondary">@ViewData["Title"]</h1>

<!-- Description of the company and values -->
<div>
    <p>
        PizzaCore is a fast-paced quality-driven company whose main focus lies in crafting
        pizza and related dishes of the highest caliber, emphasizing a strong relationship
        between owner and client. Our core values are: quality, consistency and efficiency;
        our staff aims to put these values on display through their work, maintaining the
        PizzaCore image while serving our loyal pool of customers.
    </p>
    <!-- Images -->
    <div class="d-flex">
        <img src="~/images/about/pizza-close.jpg" class="img-fluid img-thumbnail rounded mx-auto d-block" width="350" />
        <img src="~/images/about/pizza-far.jpg" class="img-fluid img-thumbnail rounded mx-auto d-block" width="350" />
    </div>
    <br />
</div>

<!-- History and goals -->
<h2 class="text-secondary">History and goals</h2>
<div>
    <p>
        Founded in 2021 amidst a vast digital landscape, PizzaCore set out to build a web
        application to promote efficiency amongst its array of staff and reliability amongst
        its users; evermore satisfying the needs of an always-online consumer base. Before
        making progress on the digital application, the business relied solely on in-person transactions.
        The team however realized the inefficiency, and is now working toward a fully-featured platform
        that can improve the productivity of our managers and employees, while also providing our services to
        local residents from the comfort of their homes.
    </p>
    <!-- Images -->
    <div class="d-flex">
        <img src="~/images/about/pizza-laptop.png" class="img-fluid img-thumbnail rounded mx-auto d-block" width="350" />
    </div>
    <br />
</div>

<!-- Key players -->
<h2 class="text-secondary">Team</h2>
<div>
    <p>Some of the key players involved behind the company include:</p>
    <ul>
        <li>Liam Scalzulli (Software Developer)</li>
        <li>Maxence Roy (Software Developer)</li>
        <li>Brent Pereira (Software Developer)</li>
        <li>Ishpal Mattu (Software Developer)</li>
    </ul>
</div>
