@model PizzaCore.Models.CareersModel

@{
  ViewData["Title"] = "Success";
}

<h1>Success</h1>

<div>
  <h3>Thank you for sending your application @Model.FirstName @Model.LastName</h3>
  <hr />
  <p>You will receive a message within two weeks if accepted.</p>
</div>
