@*@page
@model CareersFormModel*@

@model PizzaCore.Models.CareersModel

@{
  ViewData["Title"] = "Careers";
}


<h1 class="text-secondary">@ViewData["Title"]</h1>

<hr />
<!-- Job Information -->
<div>
  <h2 class="text-secondary">Positions</h2>
  <div>
    <div class="job-info">
      <div class="job-info-elements">
        <h3>Cook</h3>
        <p>Experience the joy of making authentic pizzas along with the experts in our restaurant.</p>
        <p>We are looking for people passionate about food and with great communication skills.</p>
      </div>
      <img src="~/images/careers/cook.jpg" class="img-fluid img-thumbnail rounded" width="300" />
    </div>
  </div>
  <div>
    <div class="job-info">
      <div class="job-info-elements">
        <h3>Delivery Person</h3>
        <p>Help us deliver our food to the customers all over the city.</p>
        <p>We are looking for bilingual people with a driver's license and with great communication skills.</p>
      </div>
      <img src="~/images/careers/delivery-person.jpg" class="img-fluid img-thumbnail rounded" width="300" />
    </div>
  </div>
  <div>
    <div class="job-info">
      <div class="job-info-elements">
        <h3>Manager</h3>
        <p>Manage employees and assign them roles through our website.</p>
        <p>We are looking for very organized people with excellent team management skills.</p>
      </div>
      <img src="~/images/careers/manager.jpg" class="img-fluid img-thumbnail rounded" width="300" />
    </div>
  </div>
</div>

<!-- CV Submit form -->
<div>
  <h2 class="text-secondary">Submit your CV here!</h2>
  <form asp-action="Careers" enctype="multipart/form-data">
    <div class="form-group">
      <label asp-for="FirstName" class="control-label"></label>
      <input asp-for="FirstName" class="form-control" />
      <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>
    <div class="form-group">
      <label asp-for="LastName" class="control-label"></label>
      <input asp-for="LastName" class="form-control" />
      <span asp-validation-for="LastName" class="text-danger"></span>
    </div>
    <div class="form-group">
      <label asp-for="Email" class="control-label"></label>
      <input asp-for="Email" class="form-control" />
      <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
      <label asp-for="Position" class="control-label"></label>
      <select asp-for="Position" class="form-control">
        <option disabled selected>Select position</option>
        <option value="Cook">Cook</option>
        <option value="Delivery Person">Delivery Person</option>
        <option value="Manager">Manager</option>
      </select>
      <span asp-validation-for="Position" class="text-danger"></span>
    </div>
    <div class="form-group">
      <label asp-for="CVFile"></label>
      <div>
        <input asp-for="CVFile" type="file" />
      </div>
      <div>
        <span asp-validation-for="CVFile" class="text-danger"></span>
      </div>
    </div>
    <div class="form-group">
      <input type="submit" id="submitBtn" value="Send" class="btn btn-secondary text-light" disabled />
      <input type="reset" value="Reset" class="btn btn-secondary text-light" onclick="resetReCaptcha()" />
    </div>
    <div class="form-group">
      <div class="g-recaptcha" data-sitekey="6LdIiBQdAAAAAANVFuSzfjBfyJKEjPnW8kEH886l" data-callback="enableSubmitBtn"></div>
    </div>
  </form>
</div>
