@model PizzaCore.Models.ContactModel

@{
  ViewData["Title"] = "Contact Us";
}

<h1>Contact Us</h1>

<hr />
<div id="map"></div>
<hr />
<div class="row">
  <div class="col-md-4">
    <form asp-action="View">
      <div asp-validation-summary="ModelOnly" class="text-danger"></div>
      <div class="form-group">
        <label asp-for="FirstName" class="control-label"></label>
        <input asp-for="FirstName" class="form-control" />
        <span asp-validation-for="FirstName" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="LastName" class="control-label"></label>
        <input asp-for="LastName" class="form-control" />
        <span asp-validation-for="LastName" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="Email" class="control-label"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="Topic" class="control-label"></label>
        <input asp-for="Topic" class="form-control" />
        <span asp-validation-for="Topic" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="Message" class="control-label"></label>
        <input asp-for="Message" class="form-control" />
        <span asp-validation-for="Message" class="text-danger"></span>
      </div>
      <div class="form-group">
        <input type="submit" id="submitBtn" value="Send" class="btn btn-primary" disabled />
        <input type="reset" value="Reset" class="btn btn-primary" onclick="resetReCaptcha()" />
      </div>
      <div class="form-group">
        <div class="g-recaptcha" data-sitekey="6LdIiBQdAAAAAANVFuSzfjBfyJKEjPnW8kEH886l" data-callback="enableSubmitBtn"></div>
      </div>
    </form>
  </div>
</div>


@section Scripts {
  @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
  <script src="https://www.google.com/recaptcha/api.js" async defer></script>

  <script type="text/javascript">
    function enableSubmitBtn() {
      document.getElementById("submitBtn").disabled = false;
    }

    function resetReCaptcha() {
      grecaptcha.reset();
    }
  </script>

  <script>
    var map;
    function initMap() {
      map = new google.maps.Map(document.getElementById('map'), {
        center: { lat: -34.397, lng: 150.644 },
        zoom: 8
      });
    }
  </script>
  <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&callback=initMap"
          async defer></script>
}

@section Style {
  <style>
    /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
    #map {
      height: 100%;
    }
    /* Optional: Makes the sample page fill the window. */
    html, body {
      height: 100%;
      margin: 0;
      padding: 0;
    }
  </style>
}
