@section Styles{
  <link rel="stylesheet" href="~/css/Menu.css" />
}
@{
  ViewData["Title"] = "Menu";
}

<!-- Ishpal: I made the menu sort of look like the https://www.pizzahut.ca/order/pizzas/ menu.
             And I think it would look nice if we follow pizzahut's design for the cart too.-->

<section id="menu-grid-container">

  <div class="menu-item">
    <div class="item-image"><img src="~/images/menu(temp)/item1.jpg" /></div>
    <div class="item-title">Lorem ipsum dolor sit amet, </div>
    <div class="item-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod</div>
    <div class="item-action-container">
      <span class="item-price">$14.00</span>
      <button class="item-cart-add">Add</button>
    </div>
  </div>

  <div class="menu-item">
    <div class="item-image"><img src="~/images/menu(temp)/item2.jpg" /></div>
    <div class="item-title">Lorem ipsum dolor sit amet, </div>
    <div class="item-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit</div>
    <div class="item-action-container">
      <span class="item-price">$16.00</span>
      <button class="item-cart-add">Add</button>
    </div>
  </div>

  <div class="menu-item">
    <div class="item-image"><img src="~/images/menu(temp)/item3.jpg" /></div>
    <div class="item-title">Lorem ipsum dolor sit amet, </div>
    <div class="item-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod</div>
    <div class="item-action-container">
      <span class="item-price">$10.00</span>
      <button class="item-cart-add">Add</button>
    </div>
  </div>

  <div class="menu-item">
    <div class="item-image"><img src="~/images/menu(temp)/item3.jpg" /></div>
    <div class="item-title">Lorem ipsum dolor sit amet, </div>
    <div class="item-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod</div>
    <div class="item-action-container">
      <span class="item-price">$10.00</span>
      <button class="item-cart-add">Add</button>
    </div>
  </div>

  <div class="menu-item">
    <div class="item-image"><img src="~/images/menu(temp)/item3.jpg" /></div>
    <div class="item-title">Lorem ipsum dolor sit amet, </div>
    <div class="item-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod</div>
    <div class="item-action-container">
      <span class="item-price">$10.00</span>
      <button class="item-cart-add">Add</button>
    </div>
  </div>

  <div class="menu-item">
    <div class="item-image"><img src="~/images/menu(temp)/item3.jpg" /></div>
    <div class="item-title">Lorem ipsum dolor sit amet, </div>
    <div class="item-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod</div>
    <div class="item-action-container">
      <span class="item-price">$10.00</span>
      <button class="item-cart-add">Add</button>
    </div>
  </div>

  <div class="menu-item">
    <div class="item-image"><img src="~/images/menu(temp)/item3.jpg" /></div>
    <div class="item-title">Lorem ipsum dolor sit amet, </div>
    <div class="item-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod</div>
    <div class="item-action-container">
      <span class="item-price">$10.00</span>
      <button class="item-cart-add">Add</button>
    </div>
  </div>

</section>




<script>

</script>

