@*@model IEnumerable<PizzaCore.Data.Entities.CartItem>*@


  <div id="order-container">

    @if (ViewBag.cart != null) {
      @foreach (var item in ViewBag.cart) {

      <div class="order-item">

        <section class="order-item-image">
          <img  src="~/images/products/@(item.ProductSize.Product.ImageId).jpg"/>
        </section>


        <section class="order-item-info">
          <label></label>
          <p>@(item.ProductSize.Product.Description)</p>
          <button>Remove</button>
        </section>

        <section class="order-item-quantity">
          <label>Quantity</label>
          <div>
            <button style="background: url(~/wwwroot/images/checkout/minus-quantity.png)"></button>
            <strong>@(item.Quantity)</strong>
            <button style="background: url(~/wwwroot/images/checkout/plus-quantity.png)"></button>
          </div>
        </section>
      </div>
      }
    }

  </div>
