@*@model IEnumerable<PizzaCore.Data.Entities.CartItem>*@


  <div id="order-container">


    <div class="order-item">

      <section class="order-item-image">
        <img  />
      </section>


      <section class="order-item-info">
        <label></label>
        <p>ORDER ITEM DESCRIPTION</p>
        <button>Remove</button>
      </section>

      <section class="order-item-quantity">
        <label>Quantity</label>
        <div>
          <button style="background: url(~/wwwroot/images/checkout/minus-quantity.png)"></button>
          <strong></strong>
          <button style="background: url(~/wwwroot/images/checkout/plus-quantity.png)"></button>
        </div>
      </section>
    </div>
  
  </div>
