@model OrderModel
@{ ViewData["Title"] = "Checkout"; }
@section Styles{
  <link rel="stylesheet" href="~/css/checkout.css" /> }

<h1 class="text-secondary">@ViewData["Title"]</h1>

<div id="checkout-container">
  <!-- Information about order placing -->
  <section id="general-info">
    <!-- Cart Item Display -->
    <h2>Review Order</h2>
    <partial name="_ReviewOrder" />

    <!-- Order Form -->
    <form asp-action="Index">
      <div asp-validation-summary="ModelOnly" class="text-danger"></div>
      <div class="form-group">
        <label asp-for="FirstName" class="control-label"></label>
        <input asp-for="FirstName" class="form-control" />
        <span asp-validation-for="FirstName" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="LastName" class="control-label"></label>
        <input asp-for="LastName" class="form-control" />
        <span asp-validation-for="LastName" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="Email" class="control-label"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="Address" class="control-label"></label>
        <input asp-for="Address" class="form-control" />
        <span asp-validation-for="Address" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="Payment" class="control-label"></label>
        <select asp-for="Payment" class="form-control">
          <option disabled selected>Select payment method</option>
          <option value="Cash">Cash</option>
          <option value="Debit">Debit</option>
          <option value="PayPal">PayPal</option>
        </select>
        <span asp-validation-for="Payment" class="text-danger"></span>
      </div>
      <div class="form-group">
        <input type="submit" id="submitBtn" value="Send" class="btn btn-secondary text-light" disabled />
        <input type="reset" value="Reset" class="btn btn-secondary text-light" onclick="resetReCaptcha()" />
      </div>
      <div class="form-group">
        <div class="g-recaptcha" data-sitekey="6LdIiBQdAAAAAANVFuSzfjBfyJKEjPnW8kEH886l" data-callback="enableSubmitBtn"></div>
      </div>
    </form>
  </section>

  @{
    const int DECIMAL_NUM = 2;
    const double GST_TAX_RATE = 0.05;
    const double QST_TAX_RATE = 0.09975;

    double subTotal = Math.Round(ViewBag.CartTotal, DECIMAL_NUM);
    double gstTax = Math.Round(subTotal * GST_TAX_RATE, DECIMAL_NUM);
    double qstTax = Math.Round(subTotal * QST_TAX_RATE, DECIMAL_NUM);
    double finalPrice = Math.Round(subTotal + gstTax + qstTax, DECIMAL_NUM);
  }
  <!--Order Summary Section-->
  <section id="order-summary">
    <div id="summary-content">
      <h2>Order Summary</h2>
      <div class="sumary-detail">
        <label>Sub total:</label>
        <strong>$@(subTotal)</strong>
      </div>
      <div class="sumary-detail">
        <label>GST:</label>
        <strong>$@gstTax</strong>
      </div>
      <div class="sumary-detail">
        <label>QST:</label>
        <strong>$@qstTax</strong>
      </div>
      <div id="order-total" class="sumary-detail">
        <label>Total: </label>
        <strong>$@finalPrice</strong>
      </div>
      <button>PLACE ORDER</button>
    </div>
  </section>
</div>

