@{ ViewData["Title"] = "Checkout"; }
@section Styles{<link rel="stylesheet" href="~/css/checkout.css" /> }

<h1 class="text-secondary">@ViewData["Title"]</h1>

<div id="checkout-container">

  <!--Information about order placing-->
  <section id="general-info">

    <!--Cart Item Display-->
    <h2>1. Review Order</h2>
    <partial name="_ReviewOrder" />


    <!--Form asking user for address-->
    <h2>2. Address</h2>


    <!--Payment Information-->
    <h2>3. Payment Options</h2>
  </section>

  @{
    const int DECIMAL_NUM = 2;
    const double GST_TAX_RATE = 0.05;
    const double QST_TAX_RATE = 0.09975;

    double subTotal = Math.Round(ViewBag.CartTotal, DECIMAL_NUM);
    double gstTax = Math.Round(subTotal * GST_TAX_RATE, DECIMAL_NUM);
    double qstTax = Math.Round(subTotal * QST_TAX_RATE, DECIMAL_NUM);
    double finalPrice = Math.Round(subTotal + gstTax + qstTax, DECIMAL_NUM);
  }
  <!--Order Summary Section-->
  <section id="order-summary">
    <div id="summary-content">
      <h2>Order Summary</h2>
      <div class="sumary-detail">
        <label>Sub total:</label>
        <strong>$@(subTotal)</strong>
      </div>
      <div class="sumary-detail">
        <label>GST:</label>
        <strong>$@gstTax</strong>
      </div>
      <div class="sumary-detail">
        <label>QST:</label>
        <strong>$@qstTax</strong>
      </div>
      <div id="order-total" class="sumary-detail">
        <label>Total: </label>
        <strong>$@finalPrice</strong>
      </div>
      <button>PLACE ORDER</button>
    </div>
  </section>
</div>

