<div id="order-container">
  <div class="order-item">

    <section class="order-item-image">
      <img />
    </section>

    <section class="order-item-info">
      <label>ORDER ITEM TITLE</label>
      <p>ORDER ITEM DESCRIPTION</p>
      <button>Remove</button>
    </section>
    

  </div>
</div>
