@model PizzaCore.Models.OrderModel

@{
  ViewData["Title"] = "Success";
}

<h1>Success</h1>

<div>
  <h3>Thank you @Model.FirstName @Model.LastName for ordering from PizzaCore!</h3>
  <hr />
  <p>You will receive order updates as soon as possible.</p>
</div>

