.contact-info-element p {
  margin: 0;
}

.contact-info-element {
  margin-bottom: 24px;
}

#map {
  height: 350px;
  width: 500px;
  margin-top: 16px;
  margin-bottom: 16px;
}

#contactform-title {
  margin-top: 32px;
  margin-bottom: 16px;
}
